In [23]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.Container {width:85% !important;}
div.CodeMirror {font-family:나눔고딕; font-size:13pt; line-height : 150%;}
div.output_area pre {font-family:나눔고딕; font-size:13pt; line-height : 150%;}
div.output_wrapper pre {font-family:나눔고딕; font-size:13pt; line-height : 150%;}
div.input {font-family:나눔고딕; font-size:13pt; line-height : 150%;}
</style>
"""))

In [9]:
# ▶ 1. 필요한 패키지 로드
from selenium import webdriver # 동적 웹 크롤링
import time # 대기시간
import pandas as pd # 데이터 프레임화 해야하기 때문
import numpy as np
from pandas.io.html import read_html

In [39]:
engla_teams = ['Man City', 'Liverpool', 'Chelsea', 'Man Utd', 'Arsenal', 'Tottenham', 'Huddersfield', 'Watford',
               'Bournemouth', 'Crystal Palace', 'Leicester', 'Wolves', 'Everton', 'Cardiff', 'Southampton', 'West Ham',
               'Fulham', 'Newcastle', 'Brighton', 'Burnley', 'Leeds', 'Norwich', 'Aston Villa', 'Sheff Utd', 'West Brom']

italy_teams = ['Juventus', 'Atalanta', 'AC Milan', 'Udinese', 'Roma', 'Napoli', 'Lazio', 'SPAL', 'Parma Calcio',
               'Sampdoria', 'Torino', 'Fiorentina', 'Sassuolo', 'Inter', 'Genoa', 'Cagliari', 'Bologna', 'Chievo', 'Empoli',
               'Frosinone', 'Brescia', 'Lecce', 'Verona', 'Crotone', 'Benevento', 'Spezia']

franc_teams = ['Montpellier', 'Nantes', 'Nimes', 'Saint-Etienne', 'PSG', 'Lille', 'Reims', 'Lyon', 'Rennes',\
               'Strasbourg', 'Guingamp', 'Dijon', 'Nice', 'Monaco', 'Marseille', 'Toulouse', 'Amiens', 'Bordeaux',\
               'Angers', 'Caen', 'Brest', 'Metz', 'Lorient', 'Lens', '']

germa_teams = ['Mainz', 'Leverkusen', 'Hoffenheim', 'Fortuna Duesseldorf', 'Eintracht Frankfurt', 'Freiburg',\
               'Werder Bremen', 'Augsburg', 'Borussia Dortmund', 'Bayern', 'Borussia M.Gladbach', 'Hannover', 'RBL',\
               'Nuernberg', 'Wolfsburg', 'Schalke', 'Stuttgart', 'Hertha Berlin', 'FC Koln', 'Union Berlin', 'Mainz',\
               'Paderborn']

spain_teams = ['Barcelona', 'Real Sociedad', 'Celta Vigo', 'Valencia', 'Real Madrid', 'Atletico', 'Athletic Bilbao', 'Espanyol',\
               'Levante', 'Eibar', 'Getafe', 'Real Betis', 'Leganes', 'Deportivo Alaves', 'Real Valladolid', 'SD Huesca', 'Sevilla',\
               'Villarreal', 'Girona', 'Rayo Vallecano', 'Osasuna', 'Mallorca', 'Granada', 'Cadiz', 'Elche']

# 리그 별, 포지션 별 데이터를 위한 웹 크롤링

In [28]:
#################
# ▶ 1. 데이터 수집    #
################
class Stats:
    def __init__(self, url, sleep_time, browser_driver):
        self.url = url
        self.sleep_time = sleep_time
        self.browser_driver = browser_driver
    
    def offensive(url, sleep_time, browser_driver):  # url 주소와 대기시간을 매개변수로 받는다.
        driver = webdriver.Chrome(browser_driver)
        driver.get(url)

        time.sleep(sleep_time)
        offensive = driver.find_element_by_link_text('Offensive')
        offensive.click()

        time.sleep(sleep_time)
        all_player = driver.find_element_by_link_text('All players')
        all_player.click()

        time.sleep(sleep_time)
        page = driver.find_element_by_link_text('last')
        total_page = int(page.get_attribute('data-page'))

        df_offensive = pd.DataFrame(columns=['Player', 'Apps', 'Mins', 'Goals', 'Assists', 'SpG',
                                         'KeyP', 'Drb', 'Fouled', 'Off', 'Disp', 'UnsTch', 'Rating'])

        for i in np.arange(total_page):
            time.sleep(sleep_time)
            table = driver.find_element_by_xpath(
                '//*[@id="statistics-table-offensive"]')
            # 전체 태그 중 id속성의 "" 사이의 속성을 가진 모든태그 선택
            table_html = table.get_attribute('innerHTML')

            df2 = read_html(table_html)[0]  # 0번 인덱스에 모든 값이 들어가있음
            df_offensive = pd.concat([df_offensive, df2], axis=0)

            driver.find_element_by_link_text('next').click()  # 크롤링 후 다음페이지로 이동
        df = df_offensive
        return(df_offensive)
    
    def passing(url, sleep_time, browser_driver):
        driver = webdriver.Chrome(browser_driver)
        driver.get(url)

        time.sleep(sleep_time)
        passing = driver.find_element_by_link_text('Passing')
        passing.click()

        time.sleep(sleep_time)
        all_player = driver.find_element_by_link_text('All players')
        all_player.click()

        time.sleep(sleep_time)
        page = driver.find_element_by_link_text('last')
        total_page = int(page.get_attribute('data-page'))

        df_passing = pd.DataFrame(columns=['Player', 'Apps', 'Mins', 'Assists', 'KeyP', 'AvgP',
                                         'PS%', 'Crosses', 'LongB', 'ThrB', 'Rating'])

        for i in np.arange(total_page):
            time.sleep(sleep_time)
            table = driver.find_element_by_xpath(
                '//*[@id="statistics-table-passing"]')
            # 전체 태그 중 id속성의 "" 사이의 속성을 가진 모든태그 선택
            table_html = table.get_attribute('innerHTML')

            df2 = read_html(table_html)[0]  # 0번 인덱스에 모든 값이 들어가있음
            df_passing = pd.concat([df_passing, df2], axis=0)

            driver.find_element_by_link_text('next').click()  # 크롤링 후 다음페이지로 이동
        return(df_passing)
    
    def defensive(url, sleep_time, browser_driver):
        driver = webdriver.Chrome(browser_driver)
        driver.get(url)

        time.sleep(sleep_time)
        defense = driver.find_element_by_link_text('Defensive')
        defense.click()

        time.sleep(sleep_time)
        all_player = driver.find_element_by_link_text('All players')
        all_player.click()

        time.sleep(sleep_time)
        page = driver.find_element_by_link_text('last')
        total_page = int(page.get_attribute('data-page'))

        df_defensive = pd.DataFrame(columns=['Player', 'Apps', 'Mins', 'Tackles', 'Inter', 'Fouls',
                                         'Offsides', 'Clear', 'Drb', 'Blocks', 'OwnG', 'Rating'])

        for i in np.arange(total_page):
            time.sleep(sleep_time)
            table = driver.find_element_by_xpath(
                '//*[@id="statistics-table-defensive"]')
            # 전체 태그 중 id속성의 "" 사이의 속성을 가진 모든태그 선택
            table_html = table.get_attribute('innerHTML')

            df2 = read_html(table_html)[0]  # 0번 인덱스에 모든 값이 들어가있음
            df_defensive = pd.concat([df_defensive, df2], axis=0)

            driver.find_element_by_link_text('next').click()  # 크롤링 후 다음페이지로 이동
        return(df_defensive)

In [31]:
df = Stats.offensive('https://1xbet.whoscored.com/Regions/252/Tournaments/2/Seasons/8618/Stages/19793/PlayerStatistics/England-Premier-League-2021-2022', 2, 
                'D:/Gray_Bigdata/src/07_Python/chromedriver.exe')

In [32]:
df.head(10)

,Player,Apps,Mins,Goals,Assists,SpG,KeyP,Drb,Fouled,Off,Disp,UnsTch,Rating,Player.1
0,"1Michail AntonioWest Ham, 31, D(R),M(CLR),FW",2,179,3,2,5.5,1.5,2.5,1,0.5,1.5,3,9.19,"Michail Antonio West Ham, 31, D(R),M(CLR),FW"
1,"2Marcos AlonsoChelsea, 30, D(CL),M(L)",2,176,1,-,1.5,3.5,0.5,2,-,0.5,0.5,8.40,"Marcos Alonso Chelsea, 30, D(CL),M(L)"
2,"3Shane DuffyBrighton, 29, D(C)",2,180,1,-,3.5,-,-,0.5,-,-,-,8.40,"Shane Duffy Brighton, 29, D(C)"
3,"4Trevoh ChalobahChelsea, 22, D(CR),DMC",1,90,1,-,1.0,-,1,1,-,-,-,8.32,"Trevoh Chalobah Chelsea, 22, D(CR),DMC"
4,"5Adama TraoréWolves, 25, M(CLR),FW",2,180,-,-,5.0,2.5,10,2,1,2.5,2,8.29,"Adama Traoré Wolves, 25, M(CLR),FW"
5,"6Paul PogbaMan Utd, 28, M(CL)",2,165,-,5,3.0,3,3,2,-,3,4,8.26,"Paul Pogba Man Utd, 28, M(CL)"
6,"7Mohamed SalahLiverpool, 29, AM(CLR),FW",2,180,1,2,5.0,3,2,0.5,1.5,1.5,2.5,8.24,"Mohamed Salah Liverpool, 29, AM(CLR),FW"
7,"8Romelu LukakuChelsea, 28, AM(R),FW",1,90,1,-,8.0,3,2,2,-,3,4,8.21,"Romelu Lukaku Chelsea, 28, AM(R),FW"
8,"9Mason GreenwoodMan Utd, 19, AM(R),FW",2,180,2,-,4.0,1,3,1,-,2,2,8.20,"Mason Greenwood Man Utd, 19, AM(R),FW"
9,"10Trent Alexander-ArnoldLiverpool, 22, D(R),M(R)",2,180,-,1,1.5,5,-,-,-,1.5,1,8.16,"Trent Alexander-Arnold Liverpool, 22, D(R),M(R)"

In [33]:
# 각 리그별 선수 이름 추출을 위한 슬라이싱 클래스
class Split_name:
    def __init__(self, name):
        self.name = name
        
    def eng_players(name):
        for team in engla_teams:
            name = name.replace(team, "")
        return name
    
    def ger_players(name):
        for team in germa_teams:
            name = name.replace(team, "")
        return name
    
    def fra_players(name):
        for team in franc_teams:
            name = name.replace(team, "")
        return name
    
    def italy_players(name):
        for team in italy_teams:
            name = name.replace(team, "")
        return name
    
    def spain_players(name):
        for team in spain_teams:
            name = name.replace(team, "")
        return name

In [34]:
#############################
# ▶ 2. 데이터 정제, 쓸모없는 열 삭제    #
#############################
df = df.reset_index()
df.drop(['index', 'Player.1', 'Apps', 'Mins'], axis=1, inplace=True)

df.head()

,Player,Goals,Assists,SpG,KeyP,Drb,Fouled,Off,Disp,UnsTch,Rating
0,"1Michail AntonioWest Ham, 31, D(R),M(CLR),FW",3,2,5.5,1.5,2.5,1,0.5,1.5,3,9.19
1,"2Marcos AlonsoChelsea, 30, D(CL),M(L)",1,-,1.5,3.5,0.5,2,-,0.5,0.5,8.40
2,"3Shane DuffyBrighton, 29, D(C)",1,-,3.5,-,-,0.5,-,-,-,8.40
3,"4Trevoh ChalobahChelsea, 22, D(CR),DMC",1,-,1.0,-,1,1,-,-,-,8.32
4,"5Adama TraoréWolves, 25, M(CLR),FW",-,-,5.0,2.5,10,2,1,2.5,2,8.29

In [35]:
df.isna().sum()

Player     0
Goals      0
Assists    0
SpG        0
KeyP       0
Drb        0
Fouled     0
Off        0
Disp       0
UnsTch     0
Rating     0
dtype: int64

In [36]:
spl = df['Player'].str.split(',')

print(spl)

0      [1Michail AntonioWest Ham,  31,  D(R), M(CLR),...
1             [2Marcos AlonsoChelsea,  30,  D(CL), M(L)]
2                     [3Shane DuffyBrighton,  29,  D(C)]
3            [4Trevoh ChalobahChelsea,  22,  D(CR), DMC]
4                [5Adama TraoréWolves,  25,  M(CLR), FW]
                             ...
318               [319Emil KrafthNewcastle,  27,  D(CR)]
319       [320Matt TargettAston Villa,  25,  D(L), M(L)]
320           [321Jamaal LascellesNewcastle,  27,  D(C)]
321              [322Jonjo ShelveyNewcastle,  29,  M(C)]
322                       [323Tim KrulNorwich,  33,  GK]
Name: Player, Length: 323, dtype: object

In [37]:
pls_list = []
for i in range(len(spl)):
    result_a = spl[i][0]
    pls_list.append(result_a)

df['Player'] = pls_list

df.head()

,Player,Goals,Assists,SpG,KeyP,Drb,Fouled,Off,Disp,UnsTch,Rating
0,1Michail AntonioWest Ham,3,2,5.5,1.5,2.5,1,0.5,1.5,3,9.19
1,2Marcos AlonsoChelsea,1,-,1.5,3.5,0.5,2,-,0.5,0.5,8.40
2,3Shane DuffyBrighton,1,-,3.5,-,-,0.5,-,-,-,8.40
3,4Trevoh ChalobahChelsea,1,-,1.0,-,1,1,-,-,-,8.32
4,5Adama TraoréWolves,-,-,5.0,2.5,10,2,1,2.5,2,8.29

In [ ]:
# 강등 및 승격된 팀을 데이터리스트에 추가하기 위해 검색
df.loc[10:20]

In [40]:
pls_list = []
for player in df['Player']:
    result_b = Split_name.eng_players(player)
    pls_list.append(result_b)

df['Player'] = pls_list
df.head()

,Player,Goals,Assists,SpG,KeyP,Drb,Fouled,Off,Disp,UnsTch,Rating
0,1Michail Antonio,3,2,5.5,1.5,2.5,1,0.5,1.5,3,9.19
1,2Marcos Alonso,1,-,1.5,3.5,0.5,2,-,0.5,0.5,8.40
2,3Shane Duffy,1,-,3.5,-,-,0.5,-,-,-,8.40
3,4Trevoh Chalobah,1,-,1.0,-,1,1,-,-,-,8.32
4,5Adama Traoré,-,-,5.0,2.5,10,2,1,2.5,2,8.29

In [41]:
#  선수 이름 앞 숫자 자르기, 뒤 팀명 자르기
df['Player'] = df['Player'].replace(r'[0-9]', "", regex=True)

df.head()

,Player,Goals,Assists,SpG,KeyP,Drb,Fouled,Off,Disp,UnsTch,Rating
0,Michail Antonio,3,2,5.5,1.5,2.5,1,0.5,1.5,3,9.19
1,Marcos Alonso,1,-,1.5,3.5,0.5,2,-,0.5,0.5,8.40
2,Shane Duffy,1,-,3.5,-,-,0.5,-,-,-,8.40
3,Trevoh Chalobah,1,-,1.0,-,1,1,-,-,-,8.32
4,Adama Traoré,-,-,5.0,2.5,10,2,1,2.5,2,8.29

In [42]:
# '-'로 처리된 부분 NaN으로 처리하기
df = df.replace("-", "0.0")

df.head()

,Player,Goals,Assists,SpG,KeyP,Drb,Fouled,Off,Disp,UnsTch,Rating
0,Michail Antonio,3,2,5.5,1.5,2.5,1,0.5,1.5,3,9.19
1,Marcos Alonso,1,0.0,1.5,3.5,0.5,2,0.0,0.5,0.5,8.40
2,Shane Duffy,1,0.0,3.5,0.0,0.0,0.5,0.0,0.0,0.0,8.40
3,Trevoh Chalobah,1,0.0,1.0,0.0,1,1,0.0,0.0,0.0,8.32
4,Adama Traoré,0.0,0.0,5.0,2.5,10,2,1,2.5,2,8.29

In [44]:
df.sort_values(by = 'Player', inplace = True)

In [45]:
df.head()

,Player,Goals,Assists,SpG,KeyP,Drb,Fouled,Off,Disp,UnsTch,Rating
289,Aaron Connolly,0.0,0.0,1,0.0,0.0,2,0.0,2,0.0,6.00
62,Aaron Cresswell,1,0.0,1.5,0.5,0.0,0.5,0.0,0.0,1,7.18
137,Aaron Wan-Bissaka,0.0,0.0,0.0,1,0.5,0.0,0.0,1,0.5,6.67
31,Abdoulaye Doucouré,1,1,2.5,0.5,1.5,1.5,0.0,1.5,1.0,7.51
170,Adam Armstrong,1,0.0,2.5,0.5,0.0,0.0,0.0,1,1,6.53

In [46]:
# csv파일로 저장하기
# df.to_csv('파일위치/파일명.csv', encoding = '문자변환 코드')