In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.Container {width:85% !important;}
div.CodeMirror {font-family:나눔고딕; font-size:13pt; line-height : 150%;}
div.output_area pre {font-family:나눔고딕; font-size:13pt; line-height : 150%;}
div.output_wrapper pre {font-family:나눔고딕; font-size:13pt; line-height : 150%;}
div.input {font-family:나눔고딕; font-size:13pt; line-height : 150%;}
</style>
"""))

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1. 통합데이터로 분석해보기

In [8]:
df = pd.read_csv('D:/Gray_Bigdata/src/00_Projects/data/total_player_1819.csv', encoding='UTF8').drop(['Unnamed: 0'],axis=1)

df.head(10)

,Player,age,position,Current Club,minutes_played_overall,minutes_played_home,minutes_played_away,nationality,appearances_overall,appearances_home,...,Off,Disp,UnsTch,Assists.1,KeyP.1,AvgP,PS%,Crosses,LongB,ThrB
0,Aaron Cresswell,31,Defender,West Ham United,1589,888,701,England,20,11,...,0.1,0.3,0.7,1,0.9,40.6,81.4,0.8,1.5,0.0
1,Aaron Lennon,33,Midfielder,Burnley,1217,487,730,England,16,7,...,0.0,0.8,0.9,1,0.4,17.4,78.8,0.2,0.3,0.0
2,Aaron Leya Iseka,23,Forward,Toulouse,1437,626,811,Belgium,28,15,...,0.3,0.9,1.7,0,0.4,9.4,79.4,0.0,0.1,0.0
3,Aaron Mooy,30,Midfielder,Huddersfield Town,2327,1190,1137,Australia,29,15,...,0.0,1.6,1.2,1,1.5,44.1,80.2,1.4,2.1,0.0
4,Aaron Ramsey,30,Midfielder,Arsenal,1327,689,638,Wales,28,14,...,0.1,1.0,1.3,6,0.9,27.6,82.0,0.2,0.9,0.0
5,Aaron Rowe,20,Forward,Huddersfield Town,69,14,55,England,2,1,...,0.0,2.0,0.5,0,0.0,10.0,65.0,0.0,0.0,0.0
6,Aaron Wan-Bissaka,23,Midfielder,Crystal Palace,3135,1605,1530,England,35,18,...,0.1,1.1,1.2,3,0.4,33.3,73.0,0.3,1.0,0.0
7,Aarón Martín,23,Defender,Mainz 05,2879,1502,1377,Spain,33,17,...,0.2,0.7,0.7,3,1.9,36.2,81.9,1.6,1.8,0.0
8,Abdallah Ali Mohamed,22,Forward,Olympique Marseille,0,0,0,France,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
9,Abdallah N'Dour,27,Defender,Strasbourg,295,80,215,Senegal,4,1,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 효율적인 공격을 했던 선수는 누구였을까?
- 내 생각에는 적은 시간에 많은 골을 넣는 선수라고 생각한다.
*  Mins: Minutes played<br>
    Goals: Total goals<br>
    Assists: Total assists<br>
    SpG: Shots per game<br>
    KeyP: Key passes per game<br>
    Drb: Dribbles per game<br>
    Fouled: Fouled per game<br>
    Off: Offsides per game<br>
    Disp: Dispossessed per game<br>
    UnsTch: Bad control per game<br>

In [32]:
# 전체 데이터 중, 공격수만 추출하여 따로 데이터 생성
df_forward = df.loc[df['position'] == 'Forward']

In [45]:
df_forward.head()

,Player,age,position,Current Club,minutes_played_overall,minutes_played_home,minutes_played_away,nationality,appearances_overall,appearances_home,...,Off,Disp,UnsTch,Assists.1,KeyP.1,AvgP,PS%,Crosses,LongB,ThrB
2,Aaron Leya Iseka,23,Forward,Toulouse,1437,626,811,Belgium,28,15,...,0.3,0.9,1.7,0,0.4,9.4,79.4,0.0,0.1,0.0
5,Aaron Rowe,20,Forward,Huddersfield Town,69,14,55,England,2,1,...,0.0,2.0,0.5,0,0.0,10.0,65.0,0.0,0.0,0.0
8,Abdallah Ali Mohamed,22,Forward,Olympique Marseille,0,0,0,France,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
21,Abdul Majeed Waris,29,Forward,Nantes,2255,1146,1109,Ghana,33,17,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
24,Abel Ruiz Ortega,21,Forward,FC Barcelona,21,21,0,Spain,1,1,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
print('appearances_overall' in df_forward.columns)

True

In [47]:
df_forward = df_forward.loc[ : , ['Player','minutes_played_overall', 'appearances_overall', 'Goals', 'SpG']]

df_forward.head()

,Player,minutes_played_overall,appearances_overall,Goals,SpG
2,Aaron Leya Iseka,1437,28,4,1.0
5,Aaron Rowe,69,2,0,0.0
8,Abdallah Ali Mohamed,0,0,0,0.0
21,Abdul Majeed Waris,2255,33,0,0.0
24,Abel Ruiz Ortega,21,1,0,0.0

In [48]:
df_forward.rename(columns={'minutes_played_overall' : 'minutes', 'appearances_overall' : 'apps'}, inplace=True)

In [49]:
df_forward.sort_values(by='Goals', ascending=False, inplace=True)

df_forward.head(20)

                         Player  minutes  apps  Goals  SpG
1667               Lionel Messi     2709    34     36  5.0
1608              Kylian Mbappé     2340    29     33  4.3
846          Fabio Quagliarella     3211    37     26  3.8
741                Duván Zapata     2898    37     23  3.2
2363  Pierre-Emerick Aubameyang     2731    36     22  2.6
2096              Mohamed Salah     3262    38     22  3.6
2568                 Sadio Mané     3086    36     22  2.4
2191               Nicolas Pépé     3332    38     22  3.1
2466         Robert Lewandowski     2959    33     22  4.4
1751                Luis Suárez     2829    33     21  3.4
1520              Karim Benzema     2963    36     21  2.9
561           Cristiano Ronaldo     2689    31     21  5.7
1145                 Iago Aspas     2262    27     20  2.6
550            Cristhian Stuani     2731    32     19  2.4
758              Edinson Cavani     1676    21     18  2.5
2274               Paco Alcácer     1204    26     18  2.0
2953          Wissam Ben Yedder     2818    35     18  2.2
1240                Jamie Vardy     2735    34     18  2.3
2956              Wout Weghorst     2931    34     17  2.1
299             Arkadiusz Milik     2398    35     17  3.2

In [ ]:
# 경기 당 슈팅 수 (SpG)와 경기당 골수(Goals / apps)로 산점도 그려보기

In [53]:
Goalspg = round(df_forward['Goals'] / df_forward['apps'], 2)

In [54]:
Goalspg

1667    1.06
1608    1.14
846     0.70
741     0.62
2363    0.61
        ...
1126    0.00
1122    0.00
1115    0.00
1108    0.00
3055    0.00
Length: 665, dtype: float64

## 번뜩이는 기회를 만든 선수는 누구였을까?