# 1절. 리스트(List)
- 리스트 : []
- 튜플 : ()
- 딕셔너리 : (=hashmap)
- 셋 : (집합)

## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있다. list()함수 이용도 가능하다.
- 인덱스 : 각 요소의 위치를 말한다. 0부터 시작, 맨 마지막 인덱스는 -1
- 슬라이싱([from:to:by]) : 부분 데이터셋을 뽑아 내는 것. 인덱스를 이용해서 쓰기와 읽기도 지원

In [1]:
fruits = ['banana', 'apple', 'orange', 'grape']

type(fruits)

list

In [2]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [3]:
print(fruits[0]) # 개별 출력

banana

In [4]:
# range(from, to, by)
# from부터 to바로 앞까지 by씩 증가하며 생성된 리스트
# from이 생략된 경우 0 / by가 생략된 경우 1
range(6)

range(0, 6)

In [5]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [6]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [7]:
list(range(10, -1, -2)) # 10부터 0까지 -2씩 감소한 리스트

[10, 8, 6, 4, 2, 0]

In [9]:
for i in [1, 2, 3, 4]:
    print(i, end = '\t')

1	2	3	4

In [10]:
for i in range(5):
    print(i, end = '\t')

0	1	2	3	4

In [12]:
for fruit in fruits: # fruit라는 리스트에 fruits의 객체를 담는다.
    print(fruit)

banana
apple
orange
grape

In [14]:
for i in range(len(fruits)):
    print("{}번째 과일은 {}.".format(i, fruits[i]))

0번째 과일은 banana.
1번째 과일은 apple.
2번째 과일은 orange.
3번째 과일은 grape.

In [15]:
numbers = [1, 2, '3', [1, 2]]
numbers

[1, 2, '3', [1, 2]]

## 1.2 2차원 리스트

In [16]:
# 2차원 리스트
numbers_2d = [[1,2,3,4,5],
              [10, 20, 30, 40, 50],
              [1, 3, 5, 7, 9]]

print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9]]

In [20]:
len(numbers_2d), len(numbers_2d[0])

(3, 5)

In [21]:
numbers_2d[1][2]

30

In [26]:
for row in numbers_2d:
    for data in row:
        print(data, end = '\t')
    print() # 개행

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9

In [27]:
for i in range(len(numbers_2d)): # 행의 수
    for j in range(len(numbers_2d[i])): # 열의 수
        print("{}행 {}열 : {}".format(i, j, numbers_2d[i][j]), end = '\t')
    print() # 개행

0행 0열 : 1	0행 1열 : 2	0행 2열 : 3	0행 3열 : 4	0행 4열 : 5
1행 0열 : 10	1행 1열 : 20	1행 2열 : 30	1행 3열 : 40	1행 4열 : 50
2행 0열 : 1	2행 1열 : 3	2행 2열 : 5	2행 3열 : 7	2행 4열 : 9

In [28]:
numbers = [1, 2, 3, 4, 5]
numbers_2d = [[100, 0, 0, 0, 0],
              [90, 90, 90, 90, 90]]

In [30]:
# 요소의 수
print(len(numbers))
print(len(numbers_2d))

5
2

In [32]:
# 최소값 min, 최대값 max
min(numbers), max(numbers)

(1, 5)

In [35]:
# 2차원 리스트의 max() 함수는 부분리스트 중 첫 요소가 가장 큰 값으로 판단
#                min() 함수는 부분리스트 중 첫 요소가 가장 작은 값으로 판단
max(numbers_2d), min(numbers_2d)

([100, 0, 0, 0, 0], [90, 90, 90, 90, 90])

## 1.3 요소 추가

In [ ]:
# + : 두 리스트 연결
# * : 리스트 * n = 리스트를 곱한 수만큼 반복
# append() : 요소 맨 뒤에 추가
# extend() : 리스트를 요소 별로 맨 뒤에 추가
# insert(idx, 값) : idx번째 인덱스에 값을 추가

In [37]:
numbers = [1, 2, 3, 4, 5]
numbers = numbers + numbers

numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [38]:
numbers = [1, 2, 3]

print(numbers * 3) # 3 * numbers를 해도 결과는 같다.

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [39]:
numbers.append(4)

numbers

[1, 2, 3, 4]

In [40]:
num = [5, 6, 7]
numbers.append(num) # num자체를 통째로 추가한다.

numbers

[1, 2, 3, 4, [5, 6, 7]]

In [41]:
numbers.extend(num) # 리스트 요소 각각을 추가해준다.

numbers

[1, 2, 3, 4, [5, 6, 7], 5, 6, 7]

In [42]:
numbers.extend('Hello') #  = ['H', 'e', 'l', 'l', 'o'] 와 동일하다

numbers

[1, 2, 3, 4, [5, 6, 7], 5, 6, 7, 'H', 'e', 'l', 'l', 'o']

In [43]:
numbers = [1, 2, 3, 4, 5]

numbers.insert(1, 'xx') # 1번째 인덱스 자리에 xx를 넣고 원래의 인덱스는 하나 뒤로 밀린다.
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱

- [index] : 인덱스를 이용한 접근
- index() : 해당 요소의 위치를 반환
- count() : 리스트에서 데이터의 개수를 반환

In [45]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers_2d = [[1, 2, 3], [1, 2, 3]]

In [46]:
numbers.count(2)

2

In [48]:
numbers_2d.count([1,2,3])

2

In [49]:
numbers.count(9)

0

In [50]:
2 in numbers # 2개 numbers 요소에 있는지 여부

True

In [51]:
numbers.index(2) # 처음(0 인덱스부터) 나오는 값 2의 인덱스번호

1

In [52]:
numbers.index(2, 3) # 3번 인덱스부터 시작하여 값 2가 나오는 인덱스번호

5

In [54]:
print(numbers.count(9), '개')
print(numbers.index(9)) # index 함수는 없는 값을 쓰면 에러 발생

0 개

ValueError: 9 is not in list

In [55]:
numbers[20] # 인덱스의 범위를 벗어나면 에러 발생

IndexError: list index out of range

## 1.5 리스트 슬라이싱
- 인덱스보다 많은 값을 써도 에러 발생안함
- [ from : to : by ] : from부터 to바로 앞까지 by씩 증가하는 index 추출
                       from, to, by 모두 생략 가능
- 인덱스는 음수 가능

In [57]:
numbers = [1, 3, 5, 7, 9]

numbers[::-1]

[9, 7, 5, 3, 1]

In [ ]:
# ★★★ 람다식을 이용해서 list의 원하는 데이터에 엑세스 ★★★

In [60]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

# for data in numbers:
#     print(data, end = '\t')

[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [62]:
# 짝수 데이터만 가져오기
# for data in numbers:
#     if data%2 == 0:
#         print(data, end = '\t')

[data for data in numbers if data%2 == 0]

[10, 12, 18, 20]

In [64]:
# 10이상의 데이터만 가져오기

[x for x in numbers if x>=10]

[10, 12, 13, 18, 19, 20]

In [73]:
# 과일의 글씨가 5글자 이상인 과일 추출하기
fruits = ['orange', 'apple', 'mango', 'kiwi']

# for fruit in fruits:
#     if len(fruit) >= 5:
#         print(fruit, end = '\t')
        
[fruit for fruit in fruits if len(fruit) >= 5]

orange	apple	mango

In [74]:
# 과일의 글자 수를 추출하세요
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [79]:
# 리스트 값의 제곱을 추출하라
L = [1, 2, 3, 4, 5]

# for l in L:
#     print(l**2, end = '\t')
    
[l**2 for l in L]

1	4	9	16	25

In [80]:
# 리스트 값의 두배를 추출하라

# for l in L:
#     print(l*2, end = '\t')

[l*2 for l in L]

2	4	6	8	10

## 1.6 요소 수정하기

In [81]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2] = 2222

numbers

[0, 1, 2222, 3, 4, 5, 6, 7, 8, 9]

In [82]:
# 부분 리스트를 통째로 바꿈 (by없이 슬라이싱일 경우)
numbers[0:2] = [1111, 1111, 1111, 1111, 1111, 1111, 1111] # 0과 1번째 인덱스가 없어지고 통째로 삽입

numbers

[1111, 1111, 1111, 1111, 1111, 1111, 1111, 2222, 3, 4, 5, 6, 7, 8, 9]

In [85]:
# 슬라이싱에서 by가 포함된 경우, 바꾸려는 값의 갯수가 같아야 한다.

numbers = [0] * 10
print("수정 전 :", numbers)

numbers[::2] = [11, 11, 11, 11, 11] # 0번, 2번, 4번, ..., 8번 인덱스
print("수정 후 :", numbers)

수정 전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정 후 : [11, 0, 11, 0, 11, 0, 11, 0, 11, 0]

## 1.7 삭제하기
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제된다.
- pop(n) : n번째 인덱스의 요소가 반환되고 그 인덱스 요소가 삭제된다.
- remove(data) : 해당 data가 삭제된다.
- del 리스트변수[n] : n번째 인덱스 요소가 삭제된다.

In [90]:
numbers = [0, 1, 2, 3, 4, 5]

print(numbers)
print(numbers.pop(1)) # pop된 마지막 인덱스의 요소가 출력됨
print(numbers)

[0, 1, 2, 3, 4, 5]
1
[0, 2, 3, 4, 5]

In [96]:
print(numbers.remove(3)) # remove()는 반환 값이 없고 바로 지워진다.
numbers

[0, 2, 4, 5]

In [97]:
del numbers

## 1.8 정렬하기

In [99]:
numbers = [9, 5, 2, 6, 10]

numbers.sort() # numbers 자체가 오름차순(default) 정렬한 결과로 바뀌어 있음.
numbers

[2, 5, 6, 9, 10]

In [102]:
numbers = numbers[::-1]
numbers

[10, 9, 6, 5, 2]

In [103]:
numbers.sort(reverse = True) # 내림차순 정렬.

In [106]:
numbers.reverse() # 리스트를 역순으로 변경
numbers

[2, 5, 6, 9, 10]

## 1.9 복제하기

In [109]:
numbers = [6, 2, 7, 4, 10]
new_numbers = numbers # numbers의 주소가 저장되어진다.

numbers.sort()

print("정렬 전 데이터 :", new_numbers)
print("정렬 후 데이터 :", numbers)

print("new_numbers 주소 :", id(new_numbers))
print("numbers 주소 :", id(numbers))

정렬 전 데이터 : [2, 4, 6, 7, 10]
정렬 후 데이터 : [2, 4, 6, 7, 10]
new_numbers 주소 : 2115699465152
numbers 주소 : 2115699465152

In [110]:
# 복제
numbers = [6, 2, 7, 4, 10]
new_numbers = numbers.copy() # numbers를 복제

numbers.sort()

print("정렬 전 데이터 :", new_numbers)
print("정렬 후 데이터 :", numbers)

print("new_numbers 주소 :", id(new_numbers))
print("numbers 주소 :", id(numbers))

정렬 전 데이터 : [6, 2, 7, 4, 10]
정렬 후 데이터 : [2, 4, 6, 7, 10]
new_numbers 주소 : 2115696294848
numbers 주소 : 2115698732224

In [113]:
city = ['서울','인천','대구','인천']
temp = city.copy()

city.sort()

print('원래 데이터 :', ' '.join(temp))
print('정렬 후 데이터 :', ' '.join(city))

원래 데이터 : 서울 인천 대구 인천
정렬 후 데이터 : 대구 서울 인천 인천

# 2절. 튜플(Tuple)
- 리스트와 유사하지만 읽기전용이다.
- 수정이 필요없는 데이터 타입에서 사용된다.
- 데이터 추가, 수정, 삭제 전부 불가하다.
- 제공되는 함수도 많지 않다.
- () 이용해서 생성한다.

In [118]:
city = ('서울', '부산', '인천')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천')

In [115]:
'-'.join(city)

'서울-부산-인천'

In [116]:
I = ['서울'] # 요소가 하나있는 리스트
print(type(I))
print(I)

<class 'list'>
['서울']

In [117]:
city = ('서울') # 요소가 하나있는 튜플? (x)
print(type(city))
print(city)

<class 'str'>
서울

In [119]:
city = ('서울',) # 요소가 하나있는 튜플? (o)
print(type(city))
print(city)

<class 'tuple'>
('서울',)

In [122]:
numbers = 1, 2, 3 # 여러개 값을 나열할 때는 자동적으로 튜플처리
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3)

In [123]:
numbers.remove(4) # 수정하기 위한 함수들은 모두 적용 불가

AttributeError: 'tuple' object has no attribute 'remove'

In [125]:
len(numbers), min(numbers), max(numbers)

(3, 1, 3)

In [126]:
numbers.count(2)

1

In [127]:
data = (0, 1, 2, 3, 4, (5,6))

data[2:5]

(2, 3, 4)

In [128]:
data.index(2) # 2가 있는 곳의 index

2

In [129]:
data.index(9)

ValueError: tuple.index(x): x not in tuple

In [130]:
data = (0, 1, 2, 3)
data * 3

(0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3)

# 3절. 딕셔너리(dictionary)
cf. 자바에서의 hashmap
* 중괄호{}를 이용하여 딕셔너리를 생성한다.
* 키(key)와 값(value)의 쌍으로 구성된 자료구조
* 키는 유일한 값(중복불가), 키에 리스트는 사용불가. 튜플은 사용가능
* 값은 중복이 가능하다. 모든 데이터 타입 가능
* 없는 키의 값을 참조하면 에러가 발생
* 인덱스를 이용한 참조는 지원하지 않는다.

In [134]:
dic = {'key1':'value', 'key2':'value'}
print(type(dic))
print(dic)

<class 'dict'>
{'key1': 'value', 'key2': 'value'}

In [133]:
len(dic) # 데이터 요소의 갯수

2

In [135]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [136]:
my_favorite['fruit']

'apple'

In [137]:
my_favorite.get('fruit')

'apple'

In [139]:
# print(my_favorite['people']) 키 목록에 없는 데이터를 인덱스로 참조하면 에러 발생
print(my_favorite.get('people')) # 키 목록에 없는 데이터를 get 함수로 참조시 None을 return

None

In [142]:
# 수정
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}

my_favorite['fruit'] = 'banana'
print('fruit 수정 후 :', my_favorite)

my_favorite['people'] = 'KIM'
print('people 추가 후 :', my_favorite)

del(my_favorite['sport'])
print('people 삭제 후 :', my_favorite)

fruit 수정 후 : {'fruit': 'banana', 'number': 12, 'sport': 'golf'}
people 추가 후 : {'fruit': 'banana', 'number': 12, 'sport': 'golf', 'people': 'KIM'}
people 삭제 후 : {'fruit': 'banana', 'number': 12, 'people': 'KIM'}

In [144]:
# for문을 이용한 dict 출력
my_dict = {'name':'홍길동', 'age':25, 'tel':'010-9999-9999'}
my_tuple = ('홍길동', 25, '010-9999-9999')

for data in my_tuple:
    print(data, end = '\t')
    
for idx in range(len(my_tuple)):
    print("{}번째 데이터 : {}".format(idx, my_tuple[idx]))

홍길동	25	010-9999-9999	0번째 데이터 : 홍길동
1번째 데이터 : 25
2번째 데이터 : 010-9999-9999

In [145]:
for data in my_dict:
    print(data, end = '\t')

name	age	tel

In [146]:
my_dict.keys()

dict_keys(['name', 'age', 'tel'])

In [147]:
my_dict.values()

dict_values(['홍길동', 25, '010-9999-9999'])

In [148]:
my_dict.items()

dict_items([('name', '홍길동'), ('age', 25), ('tel', '010-9999-9999')])

In [152]:
for key in my_dict.keys():
    print(key, end = '\t')

name	age	tel

In [151]:
for key in my_dict.values():
    print(key, end = '\t')

홍길동	25	010-9999-9999

In [155]:
for item in my_dict.items():
    print("{}은 {}".format(item[0], item[1]))

name은 홍길동
age은 25
tel은 010-9999-9999

In [156]:
for key, value in my_dict.items():
    print("{}은 {}".format(key, value))

name은 홍길동
age은 25
tel은 010-9999-9999