<b><font color = "red" size = "6">ch05. 함수</font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것.
- 자바와 달리 오버로딩(똑같은 이름의 함수가 2개이상 존재)이 불가하다
- 반복해서 사용할 코드는 함수를 이용하면 훨씬 구조적이고 간결한 코드를 작성할 수 있다.
- 함수의 정의
```
def 함수명([매개변수1, 매개변수2, ...]):
    명령어1
    명령어2
```

# 1절. 함수의 정의 및 사용

In [2]:
def my_hello(x): # 기존에 있던 함수는 없어진다.
    for i in range(x):
        print(i, 'Hello, Python')

In [3]:
my_hello(5)

0 Hello, Python
1 Hello, Python
2 Hello, Python
3 Hello, Python
4 Hello, Python

In [4]:
def my_hello():
    print('Hello, World')
    print('Hello, Python')

my_hello()

Hello, World
Hello, Python

In [5]:
my_hello

In [6]:
type(my_hello)

function

In [7]:
__name__

'__main__'

In [8]:
if __name__ == '__main__':
    my_hello()

Hello, World
Hello, Python

In [1]:
# a.py가 해석되어 메모리에 로드된다.
import a

In [2]:
a.test()

Hello, World
더운날 건강조심하세요

In [4]:
def my_add(num1, num2, num3 = 0): # 기본값을 가지는 매개변수(키워드 인수)는 맨 마지막에
    return num1 + num2 + num3

print(my_add(20, 30, 40))
print(my_add(20, 30))

90
50

## 1.1 docstring

In [6]:
def my_function():
    '''
    함수의 첫 라인에 docstring을 포함할 수 있다.
    docstring - 함수의 설명서를 달아주는 역할
                주석보다 많은 기능을 한다.
    '''
    pass

In [7]:
print(my_function.__doc__)

    함수의 첫 라인에 docstring을 포함할 수 있다.
    docstring - 함수의 설명서를 달아주는 역할
                주석보다 많은 기능을 한다.

In [ ]:
my_function()

In [10]:
def fibonacci(n): # 출력만 하는 함수
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력한다.
    ex. if n = 10, [ 0. 1. 1. 2. 3. 5. 8 ]
        if n = 5, [ 0. 1. 1. 2. 3]
    '''
    a, b = 0, 1
    
    while a < n:
        print(a, end = '. ')
        a, b = b, (a+b)
    print() # 개행

In [12]:
if __name__ == '__main__':
    fibonacci(5)
    print("TEST")

0. 1. 1. 2. 3.
TEST

## 1.2 지역변수와 전역변수
- 지역변수(local var)
- 전역변수(global var)

In [16]:
global_var = 100 # 전역변수

def func1():
    print(global_var)

func1()
print(global_var)

100
100

In [17]:
def func2():
    local_var = 200 # 지역변수
    print(local_var)

func2()
print(local_var) # 함수를 빠져나오면 사용할 수 없다

200

NameError: name 'local_var' is not defined

In [18]:
g_var = 100 # 전역변수

def func3():
    g_var = 200 # 전역변수와 똑같은 이름의 지역변수
    print(g_var)

func3()
print(g_var)

200
100

In [20]:
# 렉시컬 특성
g_var = 100 # 전역변수

def func3():
    print('before :', g_var)
    g_var = 200 # 지역변수
    print('after :', g_var)

func3()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [21]:
g_var = 100 # 전역변수

def func3():
    global g_var # func3함수 내의 g_var는 전역변수로 설정된다.
    print('before :', g_var)
    g_var = 200
    print('after :', g_var)

func3()
print(g_var)

before : 100
after : 200
200

## 1.3 값에 의한 호출
- 함수에 매개변수(인수)로 전달되는 변수가 스칼라 변수(숫자,문자,논리)일 경우

In [22]:
foo = 'a' # 전역변수
id(foo)

2452464025520

In [27]:
def func1(f): # 매개변수는 지역변수
    print('before :', f, '의 주소는', id(f))
    f = f * 3
    print('after :', f, '의 주소는', id(f))

func1(foo)

before : a 의 주소는 2452464025520
after : aaa 의 주소는 2452558353904

In [28]:
print(foo) # 전역변수는 그대로 
print(id(foo))

a
2452464025520

## 1.4 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 딕셔너리, 셋, ... 일 경우

In [29]:
L = [1, 2, 3, 4, 5]

id(L)

2452557665856

In [30]:
def func2(f): # 매개변수는 무조건 지역변수
    print('before :', f, '의 주소는', id(f))
    f.append(6)
    print('after :', f, '의 주소는', id(f))

func2(L)
print(L)

before : [1, 2, 3, 4, 5] 의 주소는 2452557665856
after : [1, 2, 3, 4, 5, 6] 의 주소는 2452557665856
[1, 2, 3, 4, 5, 6]

## 1.5 함수의 이름 변경
- Python은 함수형 언어, 객체지향 언어

In [31]:
def fibonacci(n): # 출력만 하는 함수
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력한다.
    ex. if n = 10, [ 0. 1. 1. 2. 3. 5. 8 ]
        if n = 5, [ 0. 1. 1. 2. 3]
    '''
    a, b = 0, 1
    
    while a < n:
        print(a, end = '. ')
        a, b = b, (a+b)
    print() # 개행

In [32]:
type(fibonacci)

function

In [33]:
fibo = fibonacci # 함수이름이 fibo로도 사용가능

In [34]:
fibo(10)

0. 1. 1. 2. 3. 5. 8.

# 2절. return
- 함수의 실행결과를 반환한다.

In [37]:
def fibonacci_print(n):
    '''
    매개변수 n값 미만의 피보나치 수열을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end = ' ')
        a, b = b, (a+b)
    print()

def fibonacci(n):
    '''
    n값 미만의 피보나치 수열(list)을 return
    '''
    result = []
    a, b = 0, 1
    
    while a < n:
        result.append(a)
        a, b = b, (a+b)
    return result

In [41]:
x = fibonacci_print(10)

print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

In [42]:
x = fibonacci(10)

print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

## 2.1 여러개 값 반환

In [43]:
def swap(a, b):
    return b, a

In [47]:
x, y = 5, 10
print('함수 실행 전', x, y)

x, y = swap(x, y)
print('함수 실행 후', x, y)

함수 실행 전 5 10
함수 실행 후 10 5

In [48]:
a = swap(x, y)

print(type(a))
print(a)

<class 'tuple'>
(5, 10)

# ★ 3절. 함수 매개변수

## 3.1 기본값을 갖는 매개변수

In [49]:
def make_url(ip, port = 80):
    return "http://{} : {}".format(ip, port)

In [52]:
print(make_url('localhost', 9090))
print(make_url(port = 9090, ip = 'www.naver.com'))
print(make_url('localhost'))

http://localhost : 9090
http://www.naver.com : 9090
http://localhost : 80

## 3.2 기본변수를 갖는 매개변수

In [55]:
# 기본 변수가 스칼라 변수(문자, 숫자, 논리)일 때
# arg의 기본 값은 함수가 정의되는 시점의 값이 사용된다.
i = 5

def func2(arg = i):
    print('arg =', arg)

In [58]:
i = 6

func2()

arg = 5

In [59]:
# 기본 변수가 리스트, 셋, 딕셔너리, 객체일 때
# 함수를 호출 후 기본값은 실행하는 시점의 값이 사용된다.
list_ = []

def func3(a, L = list_):
    L.append(a)
    return L

print(func3(1))
print(list_)

[1]
[1]

In [60]:
print(func3(100))
print(list_)

[1, 100]
[1, 100]

In [61]:
def func4(a, L = []):
    L.append(a)
    return L

result = func4(1)
print(result)

[1]

In [62]:
result = func4(2)
print(result)

[1, 2]

## 3.3 순서인수, 키워드 인수
- 위치 인수 : 함수에 인수를 순서대로 넣는 방식. 인수의 위치가 정해져있다.
- 키워드 인수: 인수에 이름(키워드)을 붙이는 기능, (키워드 = 값)형식으로 사용한다.
-              키워드인수가 앞에 오게 되면 정의할 때부터 에러발생
```
def function명(변수명1, 변수명2, 변수명3 = 기본값):
                              위치인수          키워드인수
```

In [1]:
def func5(a, L = None):
    if L is None:
        L = []
    L.append(a)
    return L

func5(1)

[1]

In [2]:
func5(2)

[2]

In [3]:
# 계속해서 추가하고 싶을 때
list_ = []
func5(3, list_)

[3]

In [4]:
func5(a = 4, L = list_)

[3, 4]

In [5]:
# 직접 값을 할당하게되면 순서에 상관없이 쓸 수 있다.
func5(L = list_, a = 5)

[3, 4, 5]

In [6]:
func5(L = list_, 50) # 순서대로 매핑되기 때문에 각각 값을 변수에 넣어주지 않으면 에러

SyntaxError: positional argument follows keyword argument (<ipython-input-6-3160935ec070>, line 1)

In [7]:
func5(list_, a = 50)

TypeError: func5() got multiple values for argument 'a'

In [8]:
func5([1])
# = func5(a = [1], L = None)

[[1]]

## 3.4 튜플 매개변수를 이용한 가변인수 설정
- *args를 가변인수로 사용할 수 있다.

In [9]:
def add(a, b):
    return a + b

In [10]:
def add(a, b, c):
    return a + b + c

In [12]:
add(1, 2) # 처음 만든 함수는 삭제되어 사용할 수 없다.

TypeError: add() missing 1 required positional argument: 'c'

In [15]:
def add(*args): # *의 의미 : args가 튜플로 전달된다.
    # print(args)
    sum = 0
    for num in args:
        sum += num
    return sum

In [16]:
print(add(1, 2))
print(add(1, 2, 3))

3
6

In [17]:
# cf
city = ('서울', '부산')
'-'.join(city)

'서울-부산'

In [24]:
def concat(*args, sep):
    return sep.join(args)

In [25]:
# 해결책 1
concat('Java', 'R', 'C', 'Web', 'Python', sep = ' - ') # 직접 값을 설정

'Java - R - C - Web - Python'

In [26]:
# 해결책 2
def concat(sep, *args):
    return sep.join(args)

In [27]:
concat(' - ', 'Java', 'Oracle', 'Python') # 위치 인수 첫 자리에 값을 설정

'Java - Oracle - Python'

In [34]:
# 해결책 3
def concat(*args, sep = ' / '): # 위치 인수 > 튜플 인수 > 키워드 인수
    return sep.join(args)

In [35]:
concat('Java', 'Oracle', 'Python')

'Java / Oracle / Python'

In [36]:
concat('Java', 'Oracle', 'Python', sep = ' ~ ')

'Java ~ Oracle ~ Python'

## 3.5 딕셔너리 매개변수
- 위치 인수, 튜플 인수, 키워드 인수 등은 모두 같이 사용될 수 있으나 순서에 유의
- **kwargs : key word arguments

In [38]:
def func6(**args): # args가 딕셔너리(가변길이 인자)로 전달, 딕셔너리 포인터
    for key, value in args.items():
        print("{} : {}".format(key, value))

func6(name = '홍길동', age = 20, address = '서울시')

name : 홍길동
age : 20
address : 서울시

In [39]:
# 위치 인수, 튜플 인수, 딕셔너리 인수
def func7(a, *b, **c):
    print('a =', a)
    print('b =', b)
    print('c =', c)

In [40]:
func7(10, 1,2,3,4,5,6,7,8,9,0, name = 'kim', age = 30)

a = 10
b = (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
c = {'name': 'kim', 'age': 30}

## 3.6 함수 정의 시 매개변수의 순서
- 위치 인수 > 튜플 인수(＊) > 키워드 인수 > 딕셔너리 인수(＊＊)

In [42]:
def func (a, b, c, *d, e = 10, **f):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)
    print('e =', e)
    print('f =', f)

In [44]:
func(10,20,30, 1,2,3,4,5,6,7, e = 100, name = '홍길동', age = 30, address = '서울시')

a = 10
b = 20
c = 30
d = (1, 2, 3, 4, 5, 6, 7)
e = 100
f = {'name': '홍길동', 'age': 30, 'address': '서울시'}

## 3.7 인수의 언패킹

### 튜플 인수 언패킹
- 함수 호출시 튜플 변수 앞에 *

In [45]:
def add (*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [46]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
add(numbers) # numbers는 한개의 튜플이기 때문에 에러 발생

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [48]:
add(*numbers) # 튜플의 언패킹(unpacking)

45

In [4]:
# 예제. 다음과 같은 결과를 return 하는 함수를 만들어보기
# range(10) -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# range(4, 10) -> [4, 5, 6, 7, 8, 9, 10]
# range(4, 10, 2) -> [4, 6, 8, 10]

def range_(*args):
    result = [] # 빈 리스트 생성
    length = len(args)
    if length == 0:
        raise Exception('매개변수는 하나 이상 필요')
    elif length == 1: # 값 한개가 들어왔을 때
        for i in range(args[0] + 1):
            result.append(i)
    elif length == 2:
        for i in range(args[0], args[1] + 1):
            result.append(i)
    elif length == 3:
        for i in range(args[0], args[1] + 1, args[2]):
            result.append(i)
    else:
        print('매개변수는 세개 이하')
        return ''
    return result

In [5]:
try:
    range_()
except Exception as e:
    print(e)

매개변수는 하나 이상 필요

In [6]:
print(range_(10))
print(range_(4, 10))
print(range_(4, 10, 2))
print(range_(1, 1, 1, 1, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[4, 6, 8, 10]
매개변수는 세개 이하

### 딕셔너리 인수 언패킹
- 함수 호출시 딕셔너리 변수 앞에 **

In [7]:
def func(**data):
    for item in data.items():
        print(item)

func(height = 100, width = 200, shape = 'rect')

('height', 100)
('width', 200)
('shape', 'rect')

In [9]:
info = {'height':100, 'width':200, 'shape':'rect'}

func(**info) # 딕셔너리 언패킹

('height', 100)
('width', 200)
('shape', 'rect')

# ★ 4절. 람다 표현식
- 작은 익명함수를 의미한다.
- 실행할 문장을 한문장만 작성할 수 있다.
- return 구문이 없이도 statement 결과를 반환한다.
- ※ 리스트 컴프리헨션과 같이 참조해서 학습 필요
- filter(), map()함수도 같이 참조해서 학습

## 4.1 한줄을 return하는 작은 익명함수

In [10]:
def add(a, b):
    return a + b

add(3, 5)

8

In [12]:
ad = add

print(ad(2,5))
print(type(ad), type(add))

7
<class 'function'> <class 'function'>

In [16]:
add = lambda a, b : a+b

In [15]:
type(add)

function

In [17]:
(lambda a, b : a+b)(10, 2)

12

## 4.2 함수의 매개변수(인수)에 람다식 사용

In [22]:
def map_template(func, L = []): # func을 리스트 요소 하나하나에 적용시킨다.
    result = []
    for item in L:
        result.append(func(item)) # func이 적용된 item의 요소를 result에 로딩
    return result

In [23]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

def x_2 (x):
    return x*2

map_template(x_2, list_data)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [24]:
map_template(lambda x : x*2, list_data)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [25]:
# map() 함수

list(map(lambda x : x**2, list_data))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
# 리스트 컴프리헨션
[ x*2 for x in list_data ]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [28]:
def filter_tamplate(func, L = []):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [29]:
list_data = [1, 2, 3, 4, 5]

def evenCheck(x):
    return x%2 == 0
#     if x%2 == 0:
#         return True

filter_tamplate(evenCheck, list_data)

[2, 4]

In [31]:
filter_tamplate(lambda x : x%2==0, list_data)

[2, 4]

In [32]:
# filter() 함수
list(filter(lambda x : x%2 == 1, list_data))

[1, 3, 5]

In [34]:
# 리스트 컴프리헨션
[ x for x in list_data if x%2 == 1 ]

[1, 3, 5]

In [42]:
# 문제. 다음 리스트에서 정수만 추출하시오. (filter, 람다/리스트 컴프리헨션 사용)
L = [1, 1.2, 1.5, 2, 3, 10.5, 100]

list(filter(lambda x : x == round(x), L))

[1, 2, 3, 100]

In [39]:
[ x for x in L if x == round(x) ] # if가 참일 때만 x를 가져가라

[1, 2, 3, 100]

**람다 표현식은 함수가 실행할 문장이 한문장일 경우만 사용**<br>
**람다 표현식이 가장 많이 사용되는 곳은 함수의 인수로 전달할 때나 함수를 return할 때**

In [45]:
p = [10, 3, 7, 2, 0]
p.sort()

p

[0, 2, 3, 7, 10]

In [48]:
pairs = [(1, 'one'), (4, 'four'), (2, 'two'), (3, 'three')]
pairs.sort() # 각 튜플의 첫번째 요소들만 비교해서 정렬한다.

pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [51]:
pairs.sort(key = lambda pair : pair[1])

pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [54]:
def apply(data, func = None):
    if func is None:
        return data
    else:
        return func(data)

print(apply(100))
print(apply(100, lambda x : x**3))

100
1000000

## 4.3 return문에 람다 표현식 이용

In [3]:
# 함수를 return 하는 함수
'''
make_box( (2,) ) -> 길이가 2(2열)인 1차원 list를 만드는 함수
    fun = make_box( (2,) )
    fun(10) -> [10, 10]
    
make_box( [3,4] ) -> 3행 4열인 2차원 list를 만든 함수를 리턴
    fun = make_box( (3, 4) )
    fun(10) ->[[10, 10, 10, 10],
               [10, 10, 10, 10],
               [10, 10, 10, 10]]
'''
def make_box(shape):
    def box(init_value):
        if len(shape) == 1: # 1차원 리스트
            return[init_value] * shape[0] # shape[0] = 열, return 문에 lambda식 이용
        elif len(shape) == 2: # 2차원 리스트
            return [ [init_value] * shape[1] ] * shape[0] # shape[1] = 행
    return box

In [4]:
line = make_box( (5, ) )

type(line)

function

In [5]:
line(7)

[7, 7, 7, 7, 7]

In [6]:
box2d = make_box( [2, 3] )

type(box2d)

function

In [7]:
box2d(7)

[[7, 7, 7], [7, 7, 7]]

In [70]:
print(7)

7

In [8]:
# Lambda Expression을 return
def make_box1(shape):
    if len(shape) == 1:
        return lambda init_value : [init_value] * shape[0]
    elif len(shape) == 2:
        return lambda init_value : [ [init_value] * shape[1] ] * shape[0]

In [9]:
line = make_box1([3])

type(line)

function

In [10]:
line(7)

[7, 7, 7]

In [11]:
box2d = make_box1([2, 3])

type(box2d)

function

In [12]:
box2d(4)

[[4, 4, 4], [4, 4, 4]]

In [13]:
def even_odd(num):
    if num%2 == 0:
        return "짝수"
    else:
        return "홀수"

even_odd(7)

'홀수'

In [14]:
even_odd_chk = lambda num : "짝수" if num%2 == 0 else "홀수"

In [15]:
even_odd_chk(7)

'홀수'

In [16]:
def score_grade(score):
    if 90 <= score <= 100:
        return 'A'
    elif 80 <= score < 90:
        return 'B'
    elif 70 <= score < 80:
        return 'C'
    elif 60 <= score < 70:
        return 'D'
    elif 0 <= score < 60:
        return 'F'
    else:
        return "유효하지 않는 점수"
    
score_grade(95)

'A'

In [32]:
score_chk = lambda score : 'A' if 90 <= score <= 100 else \
                                ('B' if 80 <= score < 90 else  \
                                ('C' if 70 <= score < 80 else  \
                                ('D' if 60 <= score < 70 else  \
                                ('F' if 0 <= score < 60 else '유효하지 않는 점수'))))

score_chk(75)

'C'

In [19]:
def levelChk(score):
    if score >= 80:
        return "A등급"
    elif score >= 70:
        return "B등급"
    else:
        return "유급"
    
levelChk(-5)

'유급'

In [21]:
levelChk = lambda score : "A등급" if score >= 80 else('B등급' if score >= 70 else "유급")

levelChk(9)

'유급'

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로 식별자로 사용하면 안된다.

In [34]:
int(float("1.2"))

1

In [36]:
def abc(n):
    L = []
    for i in range(n):
        L.append(i)
    print(locals()) # 할당된 지역변수를 모두 출력
    return L

In [37]:
abc(5)

{'n': 5, 'L': [0, 1, 2, 3, 4], 'i': 4}

[0, 1, 2, 3, 4]

In [38]:
isinstance(3.5, float)

True

In [40]:
class Test:
    def __init__(self, a, b): # self = 자바에서 this
        self.a = a # 생성자 함수 초기화
        self.b = b
    
    def print_info(self):
        '객체의 정보를 출력'
        print("a = {}, b = {}".format(self.a, self.b))

In [ ]:
# 자바에서의 위와 같은 식
# class Test{
#     private int a;
#     private int b;
#    
#     public Test(int a, int b){
#         this.a = a;
#         this.b = b;
#     }
#     
#     public vodi print_info(){
#         sysout(a, b)
#     }
# }

In [43]:
test = Test(10, 20)
test.a, test.b

(10, 20)

In [44]:
test.print_info()

a = 10, b = 20

In [45]:
isinstance(test, Test) # test가 Test형인지 확인

True

In [46]:
list(range(4))

[0, 1, 2, 3]

In [47]:
list(enumerate([10, 20, 30]))

[(0, 10), (1, 20), (2, 30)]

In [48]:
all([True, True])

True

In [49]:
all([True, True, True, False, '']) # all() : 모든 요소가 True인지 아닌지 여부 반환

False

In [50]:
any([True, True, True, False, '']) # any() : 하나의 요소라도 True인지 아닌지 여부 반환

True

In [51]:
round(3.86), round(3.86, 1)

(4, 3.9)

In [52]:
import numpy
numpy.floor(3.86), numpy.ceil(3.86), numpy.round(3.86, 1)

(3.0, 4.0, 3.9)

# 연습문제

In [1]:
# 1. 함수의 인자로 리스트를 받은 후, 리스트 내에 있는 모든 정수 값에 대한
# 최댓값과 최솟값을 리턴하는 함수를 작성하세요.
# def_get_max_min(data_list)
def get_max_min(data_list):
    return { 'max' : max(data_list), 'min' : min(data_list)}

get_max_min([1,2,3,4,5,6])

{'max': 6, 'min': 1}

In [8]:
# 2. 체중과 신장을 입력받은 후, 값에 따라 비만 등급 나누기
def bmiChk(a, b):
    bmi = a / ((b/100)**2)
    if 30.0 <= bmi:
        return "고도비만"
    elif 25.0 <= bmi < 30.0:
        return "비만"
    elif 18.5 <= bmi < 25.0:
        return "표준"
    elif bmi < 18.5:
        return "마름"
    else:
        return "잘못된 정보"

bmiChk(76, 180)

'표준'

In [9]:
# 3. 직각삼각형의 밑변과 높이를 입력받아 면적과 둘레 구하기
import math

def get_triangle(width, height):
    a = int((width*height) / 2) # 면적
    b = int(math.sqrt(width**2 + height**2)) # 밑변2 + 높이2
    c = int(width + height + b) # 둘레
    return a, c

In [10]:
get_triangle(3, 4)

(6, 12)

In [101]:
# 4. 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수의 합 구하기
def mysum(a, b):
    sum = 0
    for i in range(a, b + 1):
        sum += i
    return sum

mysum(10, 13)

46

In [192]:
# 5. 함수의 인자로 문자열을 포함하는 리스트가 입력될 때,
# 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수 만들기
list = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']

def get_abbrs(list):
    result = []
    for data in list:
        result.append(data[:3])
    return result

In [193]:
get_abbrs(list)

['Seo', 'Dae', 'Kwa', 'Jej']

In [111]:
# 6. 다음 코드를 람다함수형태로 수정하기
# def f(x, y):
#    return x ** y
f = lambda x, y : x ** y

f(2, 3)

8

In [16]:
# 7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록
# 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현
ex = [1, 2, 3, 4, 5]

list(map(lambda x : x**2, ex))

[1, 4, 9, 16, 25]

In [17]:
[x**2 for x in ex]

[1, 4, 9, 16, 25]

In [ ]:
# 8. a = [1,2,3]
#    print(*a)
#    123
#    print(a)
#    [1,2,3]
# 서로 다른 결과가 나오는 이유는?

# 첫번짹 구문은 리스트 a가 언패킹되어 결과가 출력된다.

In [116]:
# 9. 다음 코드의 실행 결과는?
date_info = {'year':'2019', 'month':'9', 'day':'6'}
result = "{year}-{month}-{day}".format(**date_info)

result

'2019-9-6'

In [32]:
# 10. n개의 벡터(리스트나 튜플 셋등)의 크기가 동일한지 확인하는
# 함수 vector_size_check(*vector, _var)를 한줄의 코드(리스트 컴프리헨션)로 작성하시오
def vector_size(*vector_var):
    result = []
    for vector in vector_var:
        result.append(len(vector))
    return result

vector_size = lambda *vector_var : set([len(vector) for vector in vector_var])

def vector_size(*vector_var): # 벡터의 인덱스의 길이
    return [len(vector) for vector in vector_var]

vector_size([1,2,3], (2,3,4), {2,'s'}, {'name':'kim', 'age':20})

[3, 3, 2, 2]

In [25]:
# 11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를
# 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)
# scalar_vector_product(5, [1,2,3,4])
# [5, 10, 15, 20]
def scalar_vector_product(a, L):
    return [a * x for x in L]

# scalar_vector_product = lambda a, L : [a * x for x in L]
scalar_vector_product(6, [1, 2, 3, 4])

[6, 12, 18, 24]

In [33]:
# 서술형 1. 다음은 위치(loc)에 따라 그룹(group)이 결정되는 사상(mapping)과
# 정을 리스트로 구현한 프로그램입니다. 출력결과를 쓰세요.
def mapping(addr):
    table = [1,2,5,9,6,4,0,3,8,7]
    return table[addr // SIZE]

SIZE = 20
group = [9,8,7,6,5,4,3,2,1,0]
loc = [127, 64, 188]

for a, b in enumerate(loc):
    print(group[mapping(loc[a])], end = ' ')

9 0 2

In [35]:
# 서술형 2. 오류가 발생하는 라인을 찾고 문제를 해결하기 위한 
# 코드를 작성하며 실행결과를 쓰세요.
a = 10 # 전역변수

def sub():
    global a
    a += 1
    print(a, end = '')
    
def func():
    for i in range(2):
        a = 5
        a += 1 # a = 6
        print(a, end = ' ')
        sub()
            
a += 1
func()

# 오류가 발생하는 라인 : sub() 함수의 첫 줄(6번)
# 문제 해결을 위한 코드 : global a
# 코드 수정 후 실행결과 : 6 126 13

6 126 13

In [149]:
# 서술형 3. 다음 구문을 실행한 결과는?
var = 100

def func(var):
    var = 200
    func(var)

print(var)

100

In [38]:
# 서술형 4. 다음 구문의 실행 결과는?
def my_func(func, *args):
    return func(*args)

import numpy as np
my_func(np.add, 2, 3)

5

In [151]:
# 서술형 5. 다음 구문의 실행결과는?
def my_func(func, *args):
    return func(*args)

my_func(lambda a, b : a**b, 3, 2)

9

In [ ]:
# 서술형 6. 파이썬 함수에 대한 설명 중 잘못된 것은?
# 1번 - 중복 정의할 수 없다 (오버로딩 안된다)

In [152]:
# 서술형 7. 다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은?
list_ = []

def func(a, L = None):
    if L is None:
        L = []
    L.append(a)
    return L

In [157]:
# 4번 func([], a = 40)

In [ ]:
# 서술형 8. 다음 보기가 설명하는 것을 작성하기 위한 키워드를 쓰세요
# - 작은 익명함수를 의미
# - 함수가 실행할 문장이 한문장일 경우에 만들어 사용할 수 있다
# - 다른 함수의 인ㅅ 또는 리턴 값에 사용할 수 있습니다.

# 정답 : lambda

In [158]:
# 서술형 9. 다음 코드의 실행 결과는?
pairs = [(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')]
pairs.sort(key = lambda pair : pair[1])

pairs

# 정답 2번 - 각 튜플의 1번 인덱스로 정렬하기 때문

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]